<!DOCTYPE html>
<html lang="en" ng-app="cold-food">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cold Food | a Twitter bot</title>

    <link rel="shortcut icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="container">
      <h3>The food is getting cold.</h3>
    </div>
    <div class="container" ng-controller="TweetsIndexController as tweetsIndexCtrl">

        <div ng-repeat="tweet in tweetsIndexCtrl.tweets | orderBy: 'isReady'">
          <strong>Tweet: </strong>"{{tweet.status}}"
          <strong>Ready to be tweeted: </strong>{{tweet.isReady}}
        </div>

      <input type="text" class="form-control" placeholder="Tweet" ng-model="tweetsIndexCtrl.newTweet.status">
      <input type="checkbox" ng-model="tweetsIndexCtrl.newTweet.isReady"><label for="checkbox"> Ready</cbox>
    </div>
  </body>
</html>
