<!DOCTYPE html>
<html lang="en" ng-app="cold-food">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cold Food | a Twitter bot</title>

    <link rel="shortcut icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="container">
      <h3>The food is getting cold.</h3>
    </div>
    <div class="container" ng-controller="TweetsIndexController as tweetsIndexCtrl">
      <div>
        <p>{{tweetsIndexCtrl.newTweet}}</p>
      </div>
    </div>
  </body>
</html>
