<!DOCTYPE html>
<html lang="en" ng-app="cold-food">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cold Food | a Twitter bot</title>

    <link rel="shortcut icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

  </head>
  <body>
    <div class="container">
      <h3>The food is getting cold.</h3>
    </div>
  </body>
</html>
