<div ng-repeat="tweet in tweetsIndexCtrl.tweets | filter:{isTweeted:false}">

  <div>

    <input ng-model="tweet.status" type="text" class="form-control input-md">
    <input type="checkbox" ng-model="tweet.isReady">
    <label for="checkbox"> Ready</label>

    <div class="counter" ng-class="{'too-long' : (tweet.status.length > 140),
                                    'tweet-away' : (tweet.status.length <= 140)}">
      {{tweet.status.length}} characters
    </div>

    <div class="button-group pull-right">
        <button type="button" class="btn btn-primary outline" ng-click="tweetsIndexCtrl.editTweet(tweet); editing = false">
          Save changes
        </button>

        <button type="button" class="btn btn-primary btn-sm outline" ng-click="tweetsIndexCtrl.deleteTweet(tweet)">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>

    </div>
  </div>
</div>
