<div ng-repeat="tweet in tweetsIndexCtrl.tweets">

  <div class="tweet-view">

    <input ng-model="tweet.status" type="text" class="form-control input-md">
    <!-- TODO add character count -->
    <!-- <input type="checkbox" ng-model="tweet.isTweeted">
    <label for="checkbox"> Ready</label> -->

    <button type="button" class="btn btn-primary outline" ng-click="tweetsIndexCtrl.editTweet(tweet); editing = false">
      Save changes
    </button>

    <button type="button" class="btn btn-primary btn-sm outline" ng-click="tweetsIndexCtrl.deleteTweet(tweet)">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>

    <!-- <button class="btn btn-sm btn-primary outline">
      <span class="glyphicon glyphicon-refresh spinning"></span>
    </button> -->

  </div>
</div>
