.header {
  margin-bottom: 50px;
}

input, select, textarea{
    color: blue;
    margin-bottom: 7px;
    border: 2px solid;
}

textarea:focus, input:focus {
    color: blue;
}

.btn {
  margin-bottom: 30px
}

.btn.outline {
	background: none;
	padding: 8px 12px;
}

.btn-primary.outline {
	border: 2px solid grey;
	color: grey;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline.active {
  background: none;
  color: blue;
	border-color: blue;
  outline: none;
}
.btn-primary.outline:active {
  background: none;
  border-color: grey;
	color: grey;
	box-shadow: none;
}
/*.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
    color: blue;
}
.glyphicon-refresh.spinning {
  transform-origin: 48% 50%;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}*/
